@import url(https://fonts.googleapis.com/css?family=Lora|Open+Sans+Condensed:300);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'Lora', serif, Calibri;
    background: white;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width:100%;
}

.loading {
    text-align: center;
    padding-top: 5em;
    font-size:2em;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

/************************/

.list-view {
    width: 100%;
}

[data-role="page"] {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: white;
    transform: translate3d(0, 100%, 0); /*default position off the screen */
}

a.page-link {
    display: inline;
    border: solid 2px black;
    border-right: 0px;
    font-family: 'Lora', serif, Calibri;
}

a.page-link:last-child {
    border-right: solid 2px black;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border: solid 7px black;
}

nav a {
    padding: 0.3rem 1rem;
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

nav a:first-child {
    border-right: solid 1px white;
}

nav a:last-child {
    border-left: solid 1px white;

}

.active-page {
    animation: slide-up 0.4s 1;
    animation-fill-mode: forwards;
    z-index: 100;
}

.inactive-page {
    animation: slide-down 0.4s 1;
    animation-fill-mode: forwards;
    z-index: 10;
}

@keyframes slide-up {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-down {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}

table {
    border-collapse: collapse;
    margin-bottom: 5em;
    border: solid 1.2em white;
}

tr {

    border-top: solid 1px whitesmoke;
    border-bottom: solid 1px whitesmoke;

    display: block;
}

td:first-child {
    color:crimson;
    padding-left: 10%;
    padding-right: 0;
    letter-spacing:0.55em;
}

td {
margin-left:auto;
margin-right:auto;
    align: center;
    font-size: 1em;
    padding: 1em;
    width: 45%;
    display: inline-block;
}

#add h1 {
    text-align: center;
    padding: 1em;
}

.button-wrapper {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    display: block;
}

button {

    width:130px;
    margin: 0 auto;
    border: none;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1em;
    padding: 1em 2em;
}

.form-wrapper {
    display: block;
    padding-bottom: 5em;
}
form {
    padding: 2em;
    width: 300px;
    margin: 0 auto;
    display: block;
}

.form li {
    list-style: none;
}

.hidden {
    display: none !important;
}


input[type="text"] {
    width: 250px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding-right: 5px;
}

label.title_label {
    display: block;
    text-align: left;
}

ul.form li {
    padding:0.2em;
    text-align: center;
}


/*****************
        STAR RATING
********************/

.star-wrapper {
    display: inline-block;
}


.star * {
    margin: 0;
    padding: 0;
}


.star
{
    color: #ccc;
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-top: 1em;
    text-align: center;
    content: "\2605";
    width: 35px;
    line-height: 18px;
    font-size: 35px;
    letter-spacing: 5px;
}

.title_label {
    padding-bottom: 1em;
}

#review_text {
    height: 10em;
    overflow: scroll;
}

table.detail-view {
    width:100%;
    text-align: center;
}


table.detail-view tr{
    padding-top: 1em;
}

table.detail-view tr:nth-child(4) {
    text-align: left;
}


/* from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/   */

.warning {
    color: red;
    font-size: 15px;
    font-weight: bold;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

#image {
    width: 250px;
}